@import 'reset';
@import 'colors';

$cera-pro-font-path: '../public/fonts/CeraPro';

@font-face {
    font-family: 'Cera Pro';
    src: url($cera-pro-font-path + '/CeraPro-Regular.woff') format('woff'),
}

%cera-pro-medium {
    font-weight: 500;
}

%cera-pro-bold {
    font-weight: bold;
}

html {
    font-family: 'Cera Pro';
    font-style: normal;
}

h3 {
    @extend %cera-pro-medium;
}

h4 {
    @extend %cera-pro-bold;
}

.header {
    position: fixed;
    display: flex;
    align-items: center;
    padding: 15px;
    width: 100%;
    background: white;
    z-index: 10;
}

.header_scroll {
    box-shadow: 0 4px 8px 0 rgba(34, 60, 80, 0.1);
}

.day-header {
    color: $blue-base;
    padding: 10px;
}

.content {
    padding-top: 60px;
}

.list-item {
    display: flex;
    padding: 12px 20px;
    border: 1px solid $lightgray-border;
}

.list-item-left {
    margin-right: 20px;
}

.disabled {
    color: $disabled-text;
    background: $disabled-background;
}

.active-icon {
    cursor: pointer;
  }