$blue-base: #0E77BA;
$blue-hover: #0A67A4;
$blue-active: #80CAFF;
$secondary-hover: #DFF2FF;
$secondary-active: #80CAFF;
$box-title: #677982;
$lightgray-border: #F8F9FB;
$light-item-list: #91A0A9;
$disabled-text: #DCDCDC;
$disabled-background: #FCFCFC;